@model Tuan05_TruongNgocThanh.Models.KhachHang

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DangNhap</h2>
@ViewBag.ThongBao
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Tên đăng nhập: </td>
                <td>
                    @Html.TextBox("tendangnhap")
                </td>
            </tr>
            <br />
            <tr style="height:40px">
                <td align="right">Mật khẩu: </td>
                <td>
                    @Html.Password("matkhau")
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="Submit" value="Đăng nhập" />
                </td>
            </tr>
        }


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
